---
layout: page
title: Projects
permalink: /projects/

---

{% for project in site.data.projects %}
<div class="entry">
  <div class="entry-head">
    <h3 class="entry-title">{{ project.title }}</h3>
    {% if project.when %}<span class="entry-when">{{ project.when }}</span>{% endif %}
  </div>
  {% if project.stack %}<p class="entry-meta">{{ project.stack }}</p>{% endif %}
  {% if project.points %}
  <ul class="entry-list">
    {% for point in project.points %}<li>{{ point }}</li>{% endfor %}
  </ul>
  {% endif %}
  {% if project.links %}
  <div class="entry-links">
    {% for link in project.links %}<a class="pill" href="{{ link.url }}">{{ link.name }}</a>{% endfor %}
  </div>
  {% endif %}
</div>
{% endfor %}
